* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

:root {
    --main-background: white;
    --nav-background: lightgray;
    --text-color: black;
}

body {
    background-color: var(--main-background);
    color: var(--text-color);
    
    height: 100svh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
}

nav {
    background-color: var(--nav-background);
}